In [8]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (0.21.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (3.5.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: setuptools in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (56.0.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.21.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: packaging>=20.0 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.5)
Requirement already satisfied: six>=1.5 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\yash sangwan\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)

WARNING: You are using pip version 21.2.4; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\users\yash sangwan\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [4]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [5]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [6]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.6)

    support   itemsets
0       1.0        (5)
1       0.8        (3)
2       0.6       (10)
3       0.6        (8)
4       0.6        (6)
5       0.8     (3, 5)
6       0.6    (10, 5)
7       0.6     (8, 3)
8       0.6     (8, 5)
9       0.6  (8, 3, 5)
10      0.6     (5, 6)

In [7]:
fpgrowth(df, min_support=0.6, use_colnames=True)

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Eggs, Kidney Beans)
6       0.6       (Yogurt, Kidney Beans)
7       0.6                (Onion, Eggs)
8       0.6        (Onion, Kidney Beans)
9       0.6  (Onion, Eggs, Kidney Beans)
10      0.6         (Milk, Kidney Beans)